<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Data Table</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- favicon
        ============================================ -->
    <link rel="shortcut icon" type="image/x-icon" href="~/Content/img/favicon.ico">
    <!-- Google Fonts
        ============================================ -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900" rel="stylesheet" type="text/css">
    <!-- Bootstrap CSS
        ============================================ -->
    <link rel="stylesheet" href="@Url.Content("~/Content/css/bootstrap.min.css")" media="screen" type="text/css" />
    <!-- Bootstrap CSS
        ============================================ -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" type="text/css" />
    <!-- owl.carousel CSS
        ============================================ -->
    <link rel="stylesheet" href="@Url.Content("~/Content/css/owl.carousel.css")" media="screen" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/Content/css/owl.theme.css")" media="screen" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/Content/css/owl.transitions.css")" media="screen" type="text/css" />
    <!-- animate CSS
        ============================================ -->
    <link rel="stylesheet" href="@Url.Content("~/Content/css/animate.css")" media="screen" type="text/css" />
    <!-- normalize CSS
        ============================================ -->
    <link rel="stylesheet" href="@Url.Content("~/Content/css/normalize.css")" media="screen" type="text/css" />
    <!-- meanmenu icon CSS
        ============================================ -->
    <link rel="stylesheet" href="@Url.Content("~/Content/css/meanmenu.min.css")" media="screen" type="text/css" />
    <!-- main CSS
        ============================================ -->
    <link rel="stylesheet" href="@Url.Content("~/Content/css/main.css")" media="screen" type="text/css" />
    <!-- educate icon CSS
        ============================================ -->
    <link rel="stylesheet" href="@Url.Content("~/Content/css/educate-custon-icon.css")" media="screen" type="text/css" />
    <!-- morrisjs CSS
        ============================================ -->
    <link rel="stylesheet" href="@Url.Content("~/Content/css/morrisjs/morris.css")" media="screen" type="text/css" />
    <!-- mCustomScrollbar CSS
        ============================================ -->
    <link rel="stylesheet" href="@Url.Content("~/Content/css/scrollbar/jquery.mCustomScrollbar.min.css")" media="screen" type="text/css" />
    <!-- metisMenu CSS
        ============================================ -->
    <link rel="stylesheet" href="@Url.Content("~/Content/css/metisMenu/metisMenu.min.css")" media="screen" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/Content/css/metisMenu/metisMenu-vertical.css")" media="screen" type="text/css" />
    <!-- calendar CSS
        ============================================ -->
    <link rel="stylesheet" href="@Url.Content("~/Content/css/calendar/fullcalendar.min.css")" media="screen" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/Content/css/calendar/fullcalendar.print.min.css")" media="screen" type="text/css" />
    <!-- x-editor CSS
        ============================================ -->
    <link rel="stylesheet" href="@Url.Content("~/Content/css/editor/select2.css")" media="screen" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/Content/css/editor/datetimepicker.css")" media="screen" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/Content/css/editor/bootstrap-editable.css")" media="screen" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/Content/css/editor/x-editor-style.css")" media="screen" type="text/css" />
    <!-- normalize CSS
        ============================================ -->
    <link rel="stylesheet" href="@Url.Content("~/Content/css/data-table/bootstrap-table.css")" media="screen" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/Content/css/data-table/bootstrap-editable.css")" media="screen" type="text/css" />
    <!-- style CSS
        ============================================ -->
    <link rel="stylesheet" href="@Url.Content("~/Content/css/Style_admin.css")" media="screen" type="text/css" />
    <!-- responsive CSS
        ============================================ -->
    <link rel="stylesheet" href="@Url.Content("~/Content/css/responsive.css")" media="screen" type="text/css" />
    <!-- modernizr JS
        ============================================ -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900" rel="stylesheet" type="text/css">
    <!-- Bootstrap CSS
        ============================================ -->

    <script src="~/Content/js/vendor/modernizr-2.8.3.min.js"></script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <!-- Start Left menu area -->
    <div class="left-sidebar-pro">
        <nav id="sidebar" class="">
            <div class="sidebar-header">
                <a href="/"><img class="main-logo" src="~/Content/img/logo/logo.png" alt="" /></a>
                <strong><a href="/"><img src="~/Content/img/logo/logosn.png" alt="" /></a></strong>
            </div>
            <div class="left-custom-menu-adp-wrap comment-scrollbar">
                <nav class="sidebar-nav left-sidebar-menu-pro">
                    <ul class="metismenu" id="menu1">
                        <li class="active">
                            <a class="has-arrow" href="mailbox.html" aria-expanded="false">
                                <i class="fa-solid fa-table"></i>  Data Tables
                            </a>
                            <ul class="submenu-angle" aria-expanded="false">
                                <li>
                                    <a class="has-arrow" href="mailbox.html" aria-expanded="false">
                                        <i class="fa-solid fa-box"></i>  Categories
                                    </a>
                                    <ul class="submenu-angle" aria-expanded="false">
                                        <li>
                                            <a title="Create Category" href="/Categories/Create"><i class="fa-solid fa-plus"></i>  Create</a>
                                        </li>
                                        <li>
                                            <a title="List Categories" href="/Categories">
                                                <i class="fa-solid fa-list"></i>  List
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a class="has-arrow" href="mailbox.html" aria-expanded="false">
                                        <i class="fa-solid fa-newspaper"></i>  Articles
                                    </a>
                                    <ul class="submenu-angle" aria-expanded="false">
                                        <li>
                                            <a title="Create Article" href="/Articles/Create"><i class="fa-solid fa-plus"></i>  Create</a>
                                        </li>
                                        <li>
                                            <a title="List Articles" href="/Articles">
                                                <i class="fa-solid fa-list"></i>  List
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a class="has-arrow" href="mailbox.html" aria-expanded="false">
                                        <i class="fa-brands fa-sourcetree"></i>  Sources
                                    </a>
                                    <ul class="submenu-angle" aria-expanded="false">
                                        <li>
                                            <a title="Created Source" href="/Sources/Create"><i class="fa-solid fa-plus"></i>  Create</a>
                                        </li>
                                        <li>
                                            <a title="Data Table" href="/Sources">
                                                <i class="fa-solid fa-list"></i>  List
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </nav>
    </div>
    <!-- End Left menu area -->
    <!-- Start Welcome area -->
    <div class="all-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    @*<div class="logo-pro">
                        <a href="index.html"><img class="main-logo" src="~/Content/img/logo/logo.png" alt="" /></a>
                    </div>*@
                </div>
            </div>
        </div>
        <div class="header-advance-area">
            <div class="header-top-area">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="header-top-wraper">
                                <div class="row">
                                    <div class="col-lg-1 col-md-0 col-sm-1 col-xs-12">
                                        
                                    </div>
                                    <div class="col-lg-6 col-md-7 col-sm-6 col-xs-12">
                                        <div class="header-top-menu tabl-d-n">
                                        </div>
                                    </div>
                                    <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                                        <div class="header-right-info">
                                            <ul class="nav navbar-nav mai-top-nav header-right-menu">
                                                <li class="nav-item">
                                                    <a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle">
                                                        <img src="~/Content/img/product/pro4.jpg" alt="" />
                                                        <span class="admin-name">Admin</span>
                                                        <i class="fa fa-angle-down edu-icon edu-down-arrow"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Mobile Menu start -->
            <!-- Mobile Menu end -->
            @*<div class="breadcome-area">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="breadcome-list single-page-breadcome">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <div class="breadcome-heading">
                                           
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>*@
        </div>

        <div>
            @RenderBody()
        </div>
        <div class="footer-copyright-area">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="footer-copy-right">
                            <p>Copyright © 2018. All rights reserved. Template by <a href="https://colorlib.com/wp/templates/">Colorlib</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- jquery
        ============================================ -->
        <script src="~/Content/js/vendor/jquery-1.12.4.min.js"></script>
        <!-- bootstrap JS
        ============================================ -->
        <script src="~/Content/js/bootstrap.min.js"></script>
        <!-- wow JS
        ============================================ -->
        <script src="~/Content/js/wow.min.js"></script>
        <!-- price-slider JS
        ============================================ -->
        <script src="~/Content/js/jquery-price-slider.js"></script>
        <!-- meanmenu JS
        ============================================ -->
        <script src="~/Content/js/jquery.meanmenu.js"></script>
        <!-- owl.carousel JS
        ============================================ -->
        <script src="~/Content/js/owl.carousel.min.js"></script>
        <!-- sticky JS
        ============================================ -->
        <script src="~/Content/js/jquery.sticky.js"></script>
        <!-- scrollUp JS
        ============================================ -->
        <script src="~/Content/js/jquery.scrollUp.min.js"></script>
        <!-- mCustomScrollbar JS
        ============================================ -->
        <script src="~/Content/js/scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
        <script src="~/Content/js/scrollbar/mCustomScrollbar-active.js"></script>
        <!-- metisMenu JS
        ============================================ -->
        <script src="~/Content/js/metisMenu/metisMenu.min.js"></script>
        <script src="~/Content/js/metisMenu/metisMenu-active.js"></script>
        <!-- data table JS
        ============================================ -->
        <script src="~/Content/js/data-table/bootstrap-table.js"></script>
        <script src="~/Content/js/data-table/tableExport.js"></script>
        <script src="~/Content/js/data-table/data-table-active.js"></script>
        <script src="~/Content/js/data-table/bootstrap-table-editable.js"></script>
        <script src="~/Content/js/data-table/bootstrap-editable.js"></script>
        <script src="~/Content/js/data-table/bootstrap-table-resizable.js"></script>
        <script src="~/Content/js/data-table/colResizable-1.5.source.js"></script>
        <script src="~/Content/js/data-table/bootstrap-table-export.js"></script>
        <!--  editable JS
        ============================================ -->
        <script src="~/Content/js/editable/jquery.mockjax.js"></script>
        <script src="~/Content/js/editable/mock-active.js"></script>
        <script src="~/Content/js/editable/select2.js"></script>
        <script src="~/Content/js/editable/moment.min.js"></script>
        <script src="~/Content/js/editable/bootstrap-datetimepicker.js"></script>
        <script src="~/Content/js/editable/bootstrap-editable.js"></script>
        <script src="~/Content/js/editable/xediable-active.js"></script>
        <!-- Chart JS
        ============================================ -->
        <script src="~/Content/js/chart/jquery.peity.min.js"></script>
        <script src="~/Content/js/peity/peity-active.js"></script>
        <!-- tab JS
        ============================================ -->
        <script src="~/Content/js/tab.js"></script>
        <!-- plugins JS
        ============================================ -->
        <script src="~/Content/js/plugins.js"></script>
        <!-- main JS
        ============================================ -->
        <script src="~/Content/js/main1.js"></script>
        <!-- tawk chat JS
        ============================================ -->
        <script src="~/Content/js/tawk-chat.js"></script>
        <script src="~/Scripts/jquery.validate.min.js"></script>
        <script src="~/Scripts/jquery.validate.js"></script>
        @RenderSection("scripts", required: false)
</body>
</html>