@model IEnumerable<EAD_Assignment.Models.Article>
@{
    ViewBag.Title = "Trang Chủ";
    Layout = "~/Views/Shared/_LayoutPageClient.cshtml";
}

<!-- Top News Start-->
<div class="top-news">
    <div class="container">
        <div class="row">
            <div class="col-md-6 tn-left">
                <div class="row tn-slider">
                    @for (int i = 0; i < 2; i++)
                    {
                        <div class="col-md-6">
                            <div class="tn-img">
                                <img src="@Model.ElementAt(i).ImageUrl" width="480" height="284" style="object-fit:cover" />
                                <div class="tn-title">
                                    <a href="/Home/Details?url=@Model.ElementAt(i).Url">@Model.ElementAt(i).Title</a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="col-md-6 tn-right">
                <div class="row">
                    @for (int i = 2; i < 6; i++)
                    {
                        <div class="col-md-6">
                            <div class="tn-img">
                                <img src="@Model.ElementAt(i).ImageUrl" width="240" height="142" style="object-fit:cover" />
                                <div class="tn-title">
                                    <a href="/Home/Details?url=@Model.ElementAt(i).Url">@Model.ElementAt(i).Title</a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Top News End-->
<!-- Category News Start-->
<div class="cat-news">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>Thể thao</h2>
                <div class="row cn-slider">
                    @foreach (var article in Model)
                    {
                        if (article.CategoryId == 1)
                        {
                            <div class="col-md-6">
                                <div class="cn-img">
                                    <img src="@article.ImageUrl" width="225" height="150" style="object-fit:cover" />
                                    <div class="cn-title">
                                        <a href="/Home/Details?url=@article.Url">@article.Title</a>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
            <div class="col-md-6">
                <h2>Pháp luật</h2>
                <div class="row cn-slider">
                    @foreach (var article in Model)
                    {
                        if (article.CategoryId == 2)
                        {
                            <div class="col-md-6">
                                <div class="cn-img">
                                    <img src="@article.ImageUrl" width="225" height="150" style="object-fit:cover" />
                                    <div class="cn-title">
                                        <a href="/Home/Details?url=@article.Url">@article.Title</a>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Category News End-->
<!-- Category News Start-->
<div class="cat-news">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>Giáo dục</h2>
                <div class="row cn-slider">
                    @foreach (var article in Model)
                    {
                        if (article.CategoryId == 3)
                        {
                            <div class="col-md-6">
                                <div class="cn-img">
                                    <img src="@article.ImageUrl" width="225" height="150" style="object-fit:cover" />
                                    <div class="cn-title">
                                        <a href="/Home/Details?url=@article.Url">@article.Title</a>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
            <div class="col-md-6">
                <h2>Sức khỏe</h2>
                <div class="row cn-slider">
                    @foreach (var article in Model)
                    {
                        if (article.CategoryId == 4)
                        {
                            <div class="col-md-6">
                                <div class="cn-img">
                                    <img src="@article.ImageUrl" width="225" height="150" style="object-fit:cover" />
                                    <div class="cn-title">
                                        <a href="/Home/Details?url=@article.Url">@article.Title</a>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<div class="cat-news">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>Đời sống</h2>
                <div class="row cn-slider">
                    @foreach (var article in Model)
                    {
                        if (article.CategoryId == 5)
                        {
                            <div class="col-md-6">
                                <div class="cn-img">
                                    <img src="@article.ImageUrl" width="225" height="150" style="object-fit:cover" />
                                    <div class="cn-title">
                                        <a href="/Home/Details?url=@article.Url">@article.Title</a>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
            <div class="col-md-6">
                <h2>Du lịch</h2>
                <div class="row cn-slider">
                    @foreach (var article in Model)
                    {
                        if (article.CategoryId == 6)
                        {
                            <div class="col-md-6">
                                <div class="cn-img">
                                    <img src="@article.ImageUrl" width="225" height="150" style="object-fit:cover" />
                                    <div class="cn-title">
                                        <a href="/Home/Details?url=@article.Url">@article.Title</a>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Category News End-->
<!-- Tab News Start-->
<div class="tab-news">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <ul class="nav nav-pills nav-justified">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="pill" href="#featured">Featured News</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="pill" href="#popular">Popular News</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="pill" href="#latest">Latest News</a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div id="featured" class="container tab-pane active">
                        @for (int i = 0; i < 3; i++)
                        {
                            <div class="tn-news">
                                <div class="tn-img">
                                    <img src="@Model.ElementAt(i).ImageUrl" height="100" />
                                </div>
                                <div class="tn-title">
                                    <a href="/Home/Details?url=@Model.ElementAt(i).Url">@Model.ElementAt(i).Title</a>
                                </div>
                            </div>
                        }
                    </div>
                    <div id="popular" class="container tab-pane fade">
                        @for (int i = 0; i < 3; i++)
                        {
                            <div class="tn-news">
                                <div class="tn-img">
                                    <img src="@Model.ElementAt(i).ImageUrl" height="100" />
                                </div>
                                <div class="tn-title">
                                    <a href="/Home/Details?url=@Model.ElementAt(i).Url">@Model.ElementAt(i).Title</a>
                                </div>
                            </div>
                        }
                    </div>
                    <div id="latest" class="container tab-pane fade">
                        @for (int i = 0; i < 3; i++)
                        {
                            <div class="tn-news">
                                <div class="tn-img">
                                    <img src="@Model.ElementAt(i).ImageUrl" height="100" />
                                </div>
                                <div class="tn-title">
                                    <a href="/Home/Details?url=@Model.ElementAt(i).Url">@Model.ElementAt(i).Title</a>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <ul class="nav nav-pills nav-justified">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="pill" href="#m-viewed">Most Viewed</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="pill" href="#m-read">Most Read</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="pill" href="#m-recent">Most Recent</a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div id="m-viewed" class="container tab-pane active">
                        @for (int i = 3; i < 6; i++)
                        {
                            <div class="tn-news">
                                <div class="tn-img">
                                    <img src="@Model.ElementAt(i).ImageUrl" height="100" />
                                </div>
                                <div class="tn-title">
                                    <a href="/Home/Details?url=@Model.ElementAt(i).Url">@Model.ElementAt(i).Title</a>
                                </div>
                            </div>
                        }
                    </div>
                    <div id="m-read" class="container tab-pane fade">
                        @for (int i = 3; i < 6; i++)
                        {
                            <div class="tn-news">
                                <div class="tn-img">
                                    <img src="@Model.ElementAt(i).ImageUrl" height="100" />
                                </div>
                                <div class="tn-title">
                                    <a href="/Home/Details?url=@Model.ElementAt(i).Url">@Model.ElementAt(i).Title</a>
                                </div>
                            </div>
                        }
                    </div>
                    <div id="m-recent" class="container tab-pane fade">
                        @for (int i = 3; i < 6; i++)
                        {
                            <div class="tn-news">
                                <div class="tn-img">
                                    <img src="@Model.ElementAt(i).ImageUrl" height="100" />
                                </div>
                                <div class="tn-title">
                                    <a href="/Home/Details?url=@Model.ElementAt(i).Url">@Model.ElementAt(i).Title</a>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Tab News Start-->
<!-- Main News Start-->
<div class="main-news">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <div class="row">
                    @foreach (var article in Model.Take(12))
                    {
                        <div class="col-md-4">
                            <div class="mn-img">
                                <img src="@article.ImageUrl" style="width:255px; height: 162px; object-fit: cover" />
                                <div class="mn-title">
                                    <a href="/Home/Details?url=@article.Url">@article.Title</a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>

            <div class="col-lg-3">
                <div class="mn-list">
                    <h2>Đọc thêm</h2>
                    <ul>
                        @for (int i = 0; i < 11; i++)
                        {
                            <li><a href="/Home/Details?url=@Model.ElementAt(i).Url">@Model.ElementAt(i).Title</a></li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Main News End-->