@model PagedList.IPagedList<EAD_Assignment.Models.Article>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPageAdmin.cshtml";
}

<h2>Article List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm("Index", "Articles", FormMethod.Get))
{
    <div class="container-fluid">
        <div class="row">
            <p class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                @Html.TextBox("keyword", ViewBag.Keyword as string, new { @class = "form-control", placeholder = "Find by keyword" })
            </p>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <select name="categoryId" id="categoryId" class="form-control">
                    <option value="">Select Category</option>
                    @foreach (var category in ViewBag.ListCategory)
                    {
                        if (category.Id == ViewBag.CategoryId)
                        {
                            <option value=@category.Id selected>@category.Name</option>
                        }
                        else
                        {
                            <option value=@category.Id>@category.Name</option>
                        }
                    }
                </select>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <select name="sortType" id="sortType" class="form-control">
                    <option value="">Sort by (Lastest default)</option>
                    <option value="createdAt_asc" @(ViewBag.SortType == "createdAt_asc" ? "selected" : "")>Latest</option>
                    <option value="createdAt_desc" @(ViewBag.SortType == "createdAt_desc" ? "selected" : "")>Descending</option>
                </select>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <input type="submit" value="Filter" class="btn btn-primary" />
            </div>
        </div>
    </div>
}
<table class="table">
    <div class="data-table-area mg-b-15">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="sparkline13-list">
                        <div class="sparkline13-graph">
                            <div class="datatable-dashv1-list custom-datatable-overright">
                                <table id="table" data-toggle="table" data-resizable="true">
                                    <thead>
                                        <tr>
                                            <th data-field="url">Url</th>
                                            <th data-field="title">Title</th>
                                            <th data-field="description">Description</th>
                                            <th data-field="action">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var article in Model)
                                        {
                                            <tr>
                                                <td>@article.Url</td>
                                                <td>@article.Title</td>
                                                <td>@article.Description</td>
                                                <td width="100">
                                                    <a title="Details" href="/Articles/Details?Url=@article.Url"><i class="fa-solid fa-eye"></i></a>
                                                    <a title="Edit" href="/Articles/Edit?Url=@article.Url"><i class="fa-solid fa-pen-to-square"></i></a>
                                                    <a title="Delete" href="/Articles/Delete?Url=@article.Url"><i class="fa-regular fa-trash-can"></i></a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                            @Html.PagedListPager(Model, page => Url.Action("Index",
                            new { sort = ViewBag.Sort, keyword = ViewBag.Keyword, categoryId = ViewBag.CategoryID, page }),
                            new PagedListRenderOptions
                            {
                                DisplayLinkToIndividualPages = true,
                                DisplayPageCountAndCurrentLocation = false,
                                MaximumPageNumbersToDisplay = 10,
                                LiElementClasses = new string[] { "page-item" }
                            })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</table>